/*Estilos para la tienda, hemos decidido poner todos los estilos de las tiendas en una misma ya que 
hay paginas que no tienen tantos estilos o que comparten estilos con otras paginas y aunque tambien se podria 
dividir en varias hojas de estilos lo vemos asi mas comodo*/
@import "variables";
@import "body";

/*ESTILOS PAGINA TIENDA*/
/*contenedor principal*/
#mainContent{
	@include contenidoPrincipal;
}

/*Estilo del contenido*/
.contenido{
	display: flex;
    flex-direction:column;
    align-items: center;        
}

/*Los desplegables de las categorias de la tienda*/
.card{
    @include cardServicios;
}

.card-header{   
    @include cardHeader;
}

.card-body{
    @include cardBody;
}

.categorias .row .col-md-4{
	@include columnasServicios;
}

/*Estilo del contenido*/
.contTienda{
	@include contenidosVarios;
}

/*Estilo de la columnas*/
.row{
	@include columnas;
}

.col-md-4 img{
    width: 150px;
    height: 150px;
}

.col-md-4 h4{
    margin-top:20px;
}

/*Estilos para las imagenes*/
#imgCategoria{
	@include imgSeleccion;
}

#imgCategoria:hover {
	@include imgSeleccionhover;
}

/*Estilo del carrusel*/
#carousel1{
	@include carrusel;
}

/*ESTILOS PARA LA PAGINA TIENDA-PERRO*/
/*Para la cesta y el buscador*/
.buscador-cesta{
	margin-top: 20px;
	
}

.buscador-cesta .row{
	display: flex;
	justify-content: center;	
}

.col-xl-8{
	display: flex;   
	justify-content: center;	
		
}

.buscador{
	display: flex;
    align-self: center;
    justify-content: center;
	font-size: $titleBody-size;	
}

/*Estilo boton cesta*/
.btnCesta a{
	color: $white;
	text-decoration:none;
	font-size: $titleNav-size;
	background: $lightBlue;
	border: $border-2px;
}

/*Estilos para las columnas de los productos*/
.productosTienda{
	margin-top: 50px;
	margin-bottom: 50px;
}

.productosTienda .row .col-lg-4{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	color: $black;
	
}

/*Estilos para la fuente de los nombres*/
.col-lg-4 h5, .col-lg-4 a{
    font-size: $veterinariosNombre-size;
}

#enlaceNombre{
	color: black;
	font-size: $veterinariosNombre-size;
}

/*Tamaño de las imagenes de carrito*/
#imgCarrito{
	width: 50px;
	height: 50px;
}

/*Tamaño de las imagenes de valoracion*/
#imgValoracion{
	width: 70px;
	height: 40px;
}

/*Estilos imagenes de los productos*/
#imgProducto{
	@include imgSeleccion;
	width: 250px;
	height: 350px;
	margin-bottom: 20px;
	border: $border-2px;	
}

#imgProducto:hover {
	@include imgSeleccionhover;
}

/* ESTILOS TIENDA-PRODUCTO*/
/*Estilo para la columna de la imagen del producto*/
#colImagen{	
	display: flex;
	justify-content: center;
}

/*Estilo para el texto del producto*/
.textoProducto{
	text-align: justify;
}

/*Estilo para la imagen del producto*/
.foto-producto{
	width: 450px;
    height: 600px;
    border: $border-2px;  
}

/*Estilos para el boton añadir*/
.btnAnadir{
	display: flex;
	justify-content: center;
}

.btnAnadir a{
	color: $white;
	text-decoration:none;
	font-size: $titleNav-size;
	background: $lightBlue;
	border: $border-2px;
}

/*ESTILOS TIENDA-CESTA*/
/*Estilos para columna de la tabla de los productos*/
#colProductos{	
	font-size: $titleBody-size;
	padding-left: 100px;	
}

/*Estilos para la columna del cuadro del resumen del pago*/
#colPagar{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: 100px;	
}

/*Estilos para la foto que sale del producto en la tabla*/
.foto-producto-pagar{
	width: 100px;
    height: 150px;  
}

/*Estilos para el boton eliminar producto*/
.btnEliminar{
	display: flex;
	justify-content: center;
}

.btnEliminar button{
	background: $white;	
}

/*Estilos para el cuadro de tramitar pago*/
.tramitar-pago{
	display: flex;
    flex-direction: column;
    width: 380px;   
    border: $border-3px;
}

/*Estilo para el titulo del resumen del cuadro de tramitar pago*/
.resumenTitulo{
	display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 180px;
    color: $white;
    font-size: $titleNav-size;
    background-color: $lightBlue;
    border: $border-3px;
    border-top: none;
    border-left: none;
}

/*Estilos para el contenido de tramitar pago*/
.resumenContenido{
	display: flex;
    align-items: center;
    flex-direction: column;
    font-size: $horariosContenido-size;
}

/*Estilos para el boton de borrar todos los productos*/
.btnBorrarTodo{
	display: flex;
	justify-content: center;
	
}

.btnBorrarTodo a{
	background: $lightBlue;	
	border: $border-2px;
	font-size: $titleNav-size;
}

/*Estilos para el boton de tramitar pago*/
.btnPagar{
	display: flex;
	justify-content: center;
}

.btnPagar a{
	color: $white;
	text-decoration:none;
	font-size: $titleNav-size;
	background: $lightBlue;
	border: $border-2px;
}

/*.productos-categorias{
	margin-top: 30px;
	
}*/

/*Media query*/
@media (max-width: 1199px) {
	/*Para el footer*/
	.col-xl-10, .col-xl-2{
    	display: flex;
		justify-content: center;
  	}
	/*Contenido de la tienda*/
  	.contTienda{
		margin-right:5%; 
		margin-left:5%;
	}
	/*Buscador de la cesta tienda-perro*/
	.buscador-cesta .row .col-xl-4{
		display: flex;
		justify-content: center;
	}
	/*Boton de la cesta tienda-perro*/
	.btnCesta{
    	margin-top: 50px;
  	}	  
}

/*Para la columna del producto en tienda-producto*/
@media (max-width: 991px) {
  .col-lg-6{		
    padding-top: 50px;
  }
    
}

/*Para las columnas del cuadro de tramitar pago y la columna con la tabla de los productos*/
@media (max-width: 1199px) {
	#colPagar{
		margin-top: 50px;
    	display: flex;
		justify-content: center;
		padding-left: 0px;		
  	}
	#colProductos{	
		padding-left: 0px;
  	}
}