@charset "UTF-8";
/*Estilos para la tienda, hemos decidido poner todos los estilos de las tiendas en una misma ya que 
hay paginas que no tienen tantos estilos o que comparten estilos con otras paginas y aunque tambien se podria 
dividir en varias hojas de estilos lo vemos asi mas comodo*/
/*Colores*/
/*Bordes*/
/*Tamaños fuentes*/
/*Contendra todos los estilos que se repitan en todas las paginas o que se repitan en varias y con frecuencia*/
/*titulos esta en todas las paginas*/
.titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 300px;
  color: #FFFFFF;
  font-size: 1.25em;
  background-color: #04B1E8;
  border: 3px solid #094592;
  border-radius: 40px;
  margin-bottom: 15px;
  margin-top: 40px;
}

/*Hace referencia a mainContent esta en Conocenos, Especialidades, Politicas y Galeria*/
/*Hace referencia a contenido1 esta Inicio, Citas, Empleo y Galeria*/
/*Hace referencia a row esta en todas las paginas*/
/*Hace referencia a horario esta en Inicio, Citas y Empleo*/
/*Hace referencia a horarioTitulo esta en Inicio, Citas y Empleo*/
/*Hace referencia a horarioContenidos esta en Inicio, Citas y Empleo*/
/*Hace referencia a varios contenidos esta en Inicio, Conocenos, Empleo y Especialidades*/
/*Hace referencia a contenido2 esta en Inicio, Citas y Empleo*/
/*Hace referencia a los estilos de las columnmas para los diversos servicios de la clinica esta en Inicio y Especialidades*/
/*Hace referencia a card que seran los desplegables de los servicios esta en Inicio y Especialidades */
/*Hace referencia a card-header que seran los desplegables de los servicios esta en Inicio y Especialidades */
/*Hace referencia a card-body que seran los desplegables de los servicios esta en Inicio y Especialidades */
/*Hace referencia a carousel esta en Inicio, Galeria, Conocenos y Tienda*/
/*ESTILOS PAGINA TIENDA*/
/*contenedor principal*/
#mainContent {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 60px;
}

/*Estilo del contenido*/
.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Los desplegables de las categorias de la tienda*/
.card {
  border: 2px solid #094592;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
}

.card-body {
  text-align: justify;
}

.categorias .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  color: #04B1E8;
}

/*Estilo del contenido*/
.contTienda {
  text-align: justify;
  margin-right: 15%;
  margin-left: 15%;
}

/*Estilo de la columnas*/
.row {
  padding-top: 1%;
  margin: 0 auto;
}

.col-md-4 img {
  width: 150px;
  height: 150px;
}

.col-md-4 h4 {
  margin-top: 20px;
}

/*Estilos para las imagenes*/
#imgCategoria {
  opacity: 1.0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
  filter: alpha(opacity=100);
}

#imgCategoria:hover {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*Estilo del carrusel*/
#carousel1 {
  margin-top: 50px;
}

/*ESTILOS PARA LA PAGINA TIENDA-PERRO*/
/*Para la cesta y el buscador*/
.buscador-cesta {
  margin-top: 20px;
}

.buscador-cesta .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-xl-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25em;
}

/*Estilo boton cesta*/
.btnCesta a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  background: #04B1E8;
  border: 2px solid #094592;
}

/*Estilos para las columnas de los productos*/
.productosTienda {
  margin-top: 50px;
  margin-bottom: 50px;
}

.productosTienda .row .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  color: #000000;
}

/*Estilos para la fuente de los nombres*/
.col-lg-4 h5, .col-lg-4 a {
  font-size: 0.9em;
}

#enlaceNombre {
  color: black;
  font-size: 0.9em;
}

/*Tamaño de las imagenes de carrito*/
#imgCarrito {
  width: 50px;
  height: 50px;
}

/*Tamaño de las imagenes de valoracion*/
#imgValoracion {
  width: 70px;
  height: 40px;
}

/*Estilos imagenes de los productos*/
#imgProducto {
  opacity: 1.0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
  filter: alpha(opacity=100);
  width: 250px;
  height: 350px;
  margin-bottom: 20px;
  border: 2px solid #094592;
}

#imgProducto:hover {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* ESTILOS TIENDA-PRODUCTO*/
/*Estilo para la columna de la imagen del producto*/
#colImagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Estilo para el texto del producto*/
.textoProducto {
  text-align: justify;
}

/*Estilo para la imagen del producto*/
.foto-producto {
  width: 450px;
  height: 600px;
  border: 2px solid #094592;
}

/*Estilos para el boton añadir*/
.btnAnadir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnAnadir a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  background: #04B1E8;
  border: 2px solid #094592;
}

/*ESTILOS TIENDA-CESTA*/
/*Estilos para columna de la tabla de los productos*/
#colProductos {
  font-size: 1.25em;
  padding-left: 100px;
}

/*Estilos para la columna del cuadro del resumen del pago*/
#colPagar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
}

/*Estilos para la foto que sale del producto en la tabla*/
.foto-producto-pagar {
  width: 100px;
  height: 150px;
}

/*Estilos para el boton eliminar producto*/
.btnEliminar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnEliminar button {
  background: #FFFFFF;
}

/*Estilos para el cuadro de tramitar pago*/
.tramitar-pago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  border: 3px solid #094592;
}

/*Estilo para el titulo del resumen del cuadro de tramitar pago*/
.resumenTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  color: #FFFFFF;
  font-size: 1.5em;
  background-color: #04B1E8;
  border: 3px solid #094592;
  border-top: none;
  border-left: none;
}

/*Estilos para el contenido de tramitar pago*/
.resumenContenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
}

/*Estilos para el boton de borrar todos los productos*/
.btnBorrarTodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnBorrarTodo a {
  background: #04B1E8;
  border: 2px solid #094592;
  font-size: 1.5em;
}

/*Estilos para el boton de tramitar pago*/
.btnPagar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnPagar a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  background: #04B1E8;
  border: 2px solid #094592;
}

/*.productos-categorias{
	margin-top: 30px;
	
}*/
/*Media query*/
@media (max-width: 1199px) {
  /*Para el footer*/
  .col-xl-10, .col-xl-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Contenido de la tienda*/
  .contTienda {
    margin-right: 5%;
    margin-left: 5%;
  }
  /*Buscador de la cesta tienda-perro*/
  .buscador-cesta .row .col-xl-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Boton de la cesta tienda-perro*/
  .btnCesta {
    margin-top: 50px;
  }
}

/*Para la columna del producto en tienda-producto*/
@media (max-width: 991px) {
  .col-lg-6 {
    padding-top: 50px;
  }
}

/*Para las columnas del cuadro de tramitar pago y la columna con la tabla de los productos*/
@media (max-width: 1199px) {
  #colPagar {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
  #colProductos {
    padding-left: 0px;
  }
}
/*# sourceMappingURL=tienda.css.map */